
@import "tailwindcss";
@import "tailwindcss-primeui";

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-utilities {
	@tailwind utilities;
}


/* 모든 요소의 기본 스타일 초기화 */



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

  body {
    font-family: 'SUIT-Regular', sans-serif;
    background-color: #ffffff;
    color: #333;
  }
  
  h1 {
    color: #2c3e50;
  }

  h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  header {
    position: fixed;
    top: 0;
    height: 65px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1.5px solid #ddd;
    padding: 20px;
  }
  
  footer {
    height: 130px;
    width: 100%;
    background-color: rgb(0, 116, 25);
    padding: 10px;
    color: white;
    text-align: center;
  }

  .header-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    margin-top: 80px;
    padding: 20px;
  }